/* Api.css */
.results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.result-item {
    background-color: #f8f9fa;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.result-item:hover {
    transform: scale(1.05);
}

.result-item h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
